body {
  background-color: seagreen;
  text-align: center;
}


h1 {
  color: black;
  font-family: fantasy;
  font-size: 285%;
}
h4 {
    font-size: 215%;
}
div {
    color: black;
    font-family: monospace;
    font-size: 210%
}
p {
  color: black;
  font-family: verdana;
  font-size: 100%;
  
}

a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

div {
  height: 225px;
  width: 60%;
  background-color: transparent;
  margin: auto;
}